:root {
    --primary: hotpink;
    --grey: #888;

    --card-width: 320px;
    --image-width: calc(var(--card-width) / 1.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
    min-height: 50vh;
    background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(255, 255, 255));
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    position: relative;
    width: 100%;
    max-width: var(--card-width);
    background-color: #FFF;
    border-radius: 1rem;
    padding: 1.5rem;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    transition: 0.4s;
}

.card .image {
    position: relative;
    margin: -8rem auto 1.5rem;
    width: var(--image-width);
    height: var(--image-width);
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    transition: 0.4s;
    overflow: hidden;
    padding: 0.25rem;
    background-color: #FFF;
}

.card .image img {
    width: 100%;
    border-radius: 50%;
    transition: 0.4s;
    border: 3px solid var(--primary);
}

.card:hover {
    --card-width: 480px;
    --image-width: calc(var(--card-width) / 2);
}

.card:hover .image {
    margin-top: -4rem;
    border-radius: 2rem;
}

.card:hover .image img {
    border-radius: 2rem;
}

.card .name {
    color: var(--grey);
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.card .content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: 0.4s;
}

.card .content p {
    color: var(--grey);
    font-size: 1.125rem;
}

.card:hover .content {
    max-height: 300px;
    opacity: 1;
    overflow: visible;
}

.card .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}

.card .buttons button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;

    display: block;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    background-color: var(--primary);
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0 0.5rem;
    min-width: 160px;
    transition: 0.4s;
}

.card .buttons button:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    transform: translateY(-0.5rem) scale(1.15);
}